:root {
  --containerColor: #F3F7FA;
  --white: #FFF;
  --blue: #2196F3;
  --lightBlue: #F1FCFF;
  --darkBlue: #9ABBCE;
  --secondaryColor: #DFE5EC;
  --dark: #4A4A4A;
  --grey: #A0B0B9;
  --defaultBoxShadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
